
body {
  -webkit-animation: pulse 10s infinite;
  animation: pulse 10s infinite;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

@-webkit-keyframes pulse {
    0% {background:#f44336}
    25% {background:#cc215e}
    50% {background:#9c2780}
    75% {background:#673ab7}
    100% {background:#f44336}
}

@keyframes pulse {
    0% {background:#f44336}
    25% {background:#cc215e}
    50% {background:#9c2780}
    75% {background:#673ab7}
    100% {background:#f44336}
}

#mainHeading {
  font-size: 40px;
  padding: 0px 0px 20px 0px;
  border-bottom: 3px solid grey;
}

section {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
}

h3 {
  font-size: 25px;
}

.animationCards {
  background-color: #4b4b4b;
  border: 1px solid black;
  border-radius: 15px;
  margin: 30px 15px 30px 15px;
  padding: 15px 20px 40px 20px;
  box-shadow: 10px 10px 10px #ffffff;
  color: #ffffff;
}

.animationCards:hover {
  background-color: #e2e2e2;
  box-shadow: 10px 10px 10px grey;
  color: #000000;
}

.desktopImages {
  height: 220px;
  width: 475px;
  border-radius: 10px;
}

footer {
  background-color: #626262;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 40px;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}






/*mobile view*/
@media(max-width:568px) {
  .container {
    display: inline-block;
  }

  .animationCards {
    width: 300px;
    margin: 20px 0px 20px 0px;
  }

  .desktopImages {
    height: 180px;
    width: 280px;
  }
}
