
body {
  -webkit-animation: pulse 10s infinite;
  animation: pulse 10s infinite;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

@-webkit-keyframes pulse {
    0% {background:#f44336}
    25% {background:#cc215e}
    50% {background:#9c2780}
    75% {background:#673ab7}
    100% {background:#f44336}
}

@keyframes pulse {
    0% {background:#f44336}
    25% {background:#cc215e}
    50% {background:#9c2780}
    75% {background:#673ab7}
    100% {background:#f44336}
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-container h1 {
  font-size: 45px;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-container a {
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  text-align: center;
}

.container h3 {
  font-size: 25px;
}

.animationCards {
  background-color: #4b4b4b;
  border: 1px solid black;
  border-radius: 15px;
  margin: 30px 15px 30px 15px;
  padding: 15px 20px 40px 20px;
  box-shadow: 10px 10px 10px #ffffff;
  color: #ffffff;
}

.animationCards:hover {
  background-color: #e2e2e2;
  box-shadow: 10px 10px 10px grey;
  color: #000000;
}

.desktopImages {
  height: 220px;
  width: 475px;
  border-radius: 10px;
}

.to-top-container {
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
}

.to-top-container img {
  width: 40px;
}

footer {
  background-color: #626262;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 40px;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}






/*mobile view*/
@media(max-width:568px) {
  .link-container {
    flex-direction: column;
    margin: 80px 20px 80px 20px;
  }

  .link-container a {
    margin: 2px;
    padding: 10px;
    background-color: #444a4b;
  }

  .container {
    display: inline-block;
  }

  .animationCards {
    width: 300px;
    margin: 20px 0px 20px 0px;
  }

  .desktopImages {
    height: 180px;
    width: 280px;
  }

  .to-top-container {
    margin: 50px;
  }

  footer {
    font-size: 13px;
    padding: 6px 0px;
  }

}
